absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.2.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arviz==0.12.1
astor==0.8.1
astropy==5.2.2
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==22.1.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==4.1.0
blinker==1.4
brotlipy==0.7.0
cachetools==5.2.0
causalimpact==0.2.4
CausalInference==0.1.3
causallib==0.8.2
certifi==2022.9.24
cffi==1.15.1
cftime==1.2.0
chardet==3.0.4
charset-normalizer==2.0.4
claspy==0.1.9
click==8.0.4
colorama==0.4.4
colorlog==4.4.0
contourpy==1.0.6
cryptography==38.0.1
cvxopt==1.2.6
cvxpy==1.1.7
cycler==0.10.0
dcor==0.5.3
debugpy==1.5.1
decorator==5.1.1
DeepKnockoffs==0.1.0
defusedxml==0.7.1
deprecat==2.1.1
dill==0.3.1.1
dowhy==0.8
easydev==0.10.1
ecos==2.0.7.post1
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.16.2
fastprogress==1.0.3
filelock==3.8.0
fitter==1.3.0
flit_core==3.6.0
fonttools==4.38.0
frozenlist==1.3.3
future==0.18.2
gast==0.3.3
geomstats==2.5.0
gluonts==0.5.0
google-auth==2.6.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
GPUtil==1.4.0
graphviz==0.8.4
grpcio==1.42.0
h5py==2.10.0
holidays==0.9.12
hrv-analysis==1.0.4
idna==3.4
importlib-metadata==4.11.3
importlib-resources==5.2.0
ipykernel==6.15.2
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.6
jsonschema==4.16.0
jupyter==1.0.0
jupyter_client==7.4.7
jupyter-console==6.4.3
jupyter_core==4.11.2
jupyter-server==1.18.1
jupyterlab==3.5.0
jupyterlab-pygments==0.1.2
jupyterlab_server==2.16.3
jupyterlab-widgets==1.0.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lingam==1.5.5
llvmlite==0.36.0
lxml==4.9.1
Markdown==3.3.4
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock==4.0.3
mpmath==1.2.1
multidict==6.0.2
mxnet==1.6.0
mxnet-cu92==1.7.0
nbclassic==0.4.8
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
nest-asyncio==1.5.5
netCDF4==1.5.3
networkx==3.0
nolds==0.5.2
notebook==6.5.2
notebook_shim==0.2.2
numba==0.53.1
numexpr==2.8.4
numpy==1.21.5
oauthlib==3.2.1
opt-einsum==3.3.0
osqp==0.6.1
packaging==21.3
pandas==1.0.5
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pip==22.3.1
pkgutil_resolve_name==1.3.10
ply==3.11
prometheus-client==0.14.1
prompt-toolkit==3.0.20
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.2
pydot==1.4.2
pyEDFlib==0.1.32
pyerfa==2.0.0.3
Pygments==2.11.2
PyJWT==2.4.0
pymc3==3.11.5
pyOpenSSL==22.0.0
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyriemann==0.3
pyrsistent==0.18.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.0
qtconsole==5.3.2
QtPy==2.2.0
requests==2.28.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==1.2.2
scipy==1.9.3
scs==2.1.2
seaborn==0.11.1
semver==2.13.0
Send2Trash==1.8.0
setuptools==65.5.0
sip==6.6.2
six==1.16.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.3.2.post1
stack-data==0.2.0
statsmodels==0.13.5
sympy==1.11.1
tables==3.6.1
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.2.0
tensorflow-estimator==2.6.0
termcolor==2.1.0
terminado==0.13.1
Theano-PyMC==1.1.2
threadpoolctl==2.1.0
tigramite==4.2.1.4
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.7.1
torch-two-sample==0.1
torchvision==0.8.2
tornado==6.2
tqdm==4.47.0
traitlets==5.7.1
typing_extensions==4.4.0
tzdata==2023.3
ujson==1.35
urllib3==1.26.13
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==3.5.2
wrapt==1.14.1
xarray==2022.3.0
xarray-einstats==0.3.0
xlrd==1.2.0
yarl==1.8.1
zipp==3.8.0
